// Global Variables

$color_primary_normal: #5C6BC0;
$color_primary_hard: #26418F;
$color_primary_lite: #8E99F3;

$color_secondary_normal: #D32F2F;
$color_secondary_hard: #9A0007;
$color_secondary_lite: #FF6659;

$transparency_black_normal: 55;
$transparency_black_bold: 80%;
$transparency_black_lite: 33%;

$transparency_white_normal: 80;
$transparency_white_bold: 90%;
$transparency_white_lite: 55%;

// Css grid
$row_step: 8px;
$column_step: 8px;